<!DOCTYPE html>

<html>

<head>
<title> Соленья к столу </title>
<meta charset="utf-8">
<link ref="shortcut icon" href="site/img/apple-icon-60x60.png" type="images/png">
<meta name = "keywords" content = "мой сайт, html, соленья к столу">
<meta name = "description" content = "Этот сайт помогает">
<style>
  body{
       background: url(img/2.jpg) no-repeat;
       -moz-background-size: 100%
       -webkit-background-size: 100%
       -o-background-size: 100%
       background-size: 100%
      }
</style>
</head>

<body>
<h1> <font color = #fde910 size ="60">Соленья к столу</font> </h1>
<br>
  <form action="file:///C:/site/catalog.html">
    <button type="submit" style="height:60px;width:180px"><font color = #000000 size = "5"><b><em>Каталог<em></b></font></button>
  </form>

  <form action="file:///C:/site/dostavka.html">
    <button type="submit" style="height:60px;width:180px"><font color = #000000 size = "5"><b><em>Доставка<em></b></font></button>
  </form>

  <form action="file:///C:/site/O_nas.html">
    <button type="submit" style="height:60px;width:180px"><font color = #000000 size = "5"><b><em>О нас<em></b></font></button>
  </form>

  <form action="file:///C:/site/photogallery.html">
    <button type="submit" style="height:60px;width:180px"><font color = #000000 size = "5"><b><em>Фотогалерея<em></b></font></button>
  </form>
<br>
<br>
<hr>

  <form action="https://youla.ru/user/5ead60e0bedcc581cf39ee2e">
      <button type="submit" style="height:60px;width:180px"><font color = #000000 size = "3"><b><em>Юла<em></b></font></button>
      </form>
      <form action="https://invite.viber.com/?g2=AQAOZ%2Bm2vlom70xjhbC1W6Tnac2gedEbaFSlSb4CE1JpEIb51dLdGfnmTyNyCYpy">
        <button type="submit" style="height:60px;width:180px"><font color = #000000 size = "3"><b><em>Viber<em></b></font></button>
      </form>
      <br>
      <br>
  <p1><font size = "6" color = "white">Контактные данные:</font><p1>
    <br>
  <p1><font size = "4" color = "white"> Тел.8-962-165-46-65<font></p1>
    <br>
  <p1><font size="4" color = "white">surprisesk@mail.ru</p1>

</body>
</html>